:root {
  --color0: #fff;
  --color1: #cdfecd;
  --color2: #9bfc9b;
  --color3: #51fb51;
  --color4: #05c705;
  --color5: #037c03;
  --solid-border: 1px solid #000;
  --dashed-border: 1px dashed #000;
}

table {
  border-collapse: collapse;
}

.sharp {
  border-bottom: var(--solid-border);
}

.half {
  border-bottom: var(--dashed-border);
}

.available-0 {
  background-color: var(--color0);
}

.available-1 {
  background-color: var(--color1);
}

.available-2 {
  background-color: var(--color2);
}

.available-3 {
  background-color: var(--color3);
}

.available-4 {
  background-color: var(--color4);
}

.available-5 {
  background-color: var(--color5);
}
