body {
  font-family: Arial, sans-serif;
}

.container {
  margin: 50px auto;
  max-width: 700px;
  width: 85%;
  padding: 50px 20px 15px 20px;
  box-shadow: 0 5px 15px gray;
  border-radius: 10px;
}

h1 {
  text-align: center;
  color: darkgreen;
}

input:not([type='radio']),
select,
textarea {
  display: block;
  width: calc(100% - 10px);
  padding: 10px 4px;
  font-size: 0.9rem;
  margin: 10px auto;
  border-radius: 5px;
}

select {
  width: 100%;
}

fieldset {
  margin: 10px auto;
  padding: 20px 5px;
  border-radius: 5px;
}

.label-view {
  font-size: 1rem;
  font-weight: 600;
  display: block;
  width: 100%;
  padding: 5px 0px;
}

input:focus,
textarea:focus {
  border: 1px solid red;
}

input:invalid,
select:invalid,
textarea:invalid {
  border: 1px solid red;
}

input:valid,
select:valid,
textarea:valid {
  border: 1px solid green;
}

.radio-label {
  font-size: 1rem;
}

.radio-group input[type='radio'] {
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid gray;
}

.radio-group input[type='radio']::before {
  display: block;
  content: ' ';
  width: 10px;
  height: 10px;
  border-radius: 50%;
  transform: translate(3px, 3px) scale(0);
  transition: all 0.1s ease-in;
}

.radio-group input[type='radio']:checked::before {
  transform: translate(3px, 3px) scale(1);
  background-color: green;
}

.radio-group input[type='radio']:checked {
  border: 2px solid green;
  background-color: white;
  box-shadow: 0 1px 5px green;
}

input[type='radio']:checked + label {
  color: #008000;
}

button {
  background-color: #008000;
  border: none;
  border-radius: 5px;
  color: whitesmoke;
  display: block;
  margin: 10px auto;
  padding: 12px 20px;
  width: 100%;
  font-size: 1rem;
}

button:hover {
  background-color: #000000;
  cursor: pointer;
}

input:first-of-type {
  border-radius: 5px;
}
