* {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  color: #444;
}

header {
  font-size: 1.8rem;
}

p {
  text-align: left;
}

@media screen and (min-width: 1025px) {
  #navbar {
    position: fixed;
  }
}
