* {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  color: #444;
  line-height: 1.7;
}

#navbar header {
  font-size: 1.8rem;
  text-align: center;
  margin-left: 10px;
  color: #333;
}

#main-doc {
  position: absolute;
  margin-left: 300px;
  padding: 10px;
  margin-bottom: 110px;
}

section header {
  text-align: left;
  font-size: 1.8rem;
  margin-left: -0.8rem;
  color: #333;
}

/*#navbar {
  display: block;
}*/

#navbar {
  top: 0px;
  left: 0px;
  color: #4d4e53;
  border-right: 4px solid #666;
  position: fixed;
  min-width: 280px;
  height: 100vh;
  padding: 10px 0;
  overflow-y: scroll;
  unicode-bidi: isolate;
}

#navbar li {
  display: block;
  border-top: 1px solid #222;
  width: 100%;
}

#navbar li:last-of-type {
  border-bottom: 1px solid #222;
}

#navbar a {
  display: block;
  text-decoration: none;
  color: #444;
  padding: 10px 20px;
  cursor: pointer;
}

#navbar ul {
  padding: 0;
  overflow-x: hidden;
  overflow-y: auto;
}

#navbar li:hover {
  background-color: #c7c7c7;
  transform: scale(1.1);
  border-bottom: 1px solid #222;
}

#navbar a:hover {
  color: #000;
}

p {
  text-align: left;
}

code {
  display: block;
  background-color: #f2f1f1;
  padding: 15px 25px;
  margin: 5px;
  border-radius: 5px;
  line-height: 2;
  border: 1px solid #c7c7c7;
}

@media screen and (min-width: 1025px) {
  #navbar {
    position: fixed;
  }
}

/* Adding a smooth behavior on scrolling link */
@media (prefers-reduced-motion: no-preference) {
  * {
    scroll-behavior: smooth;
  }
}
