* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: Georgia, serif;
}

.newspaper-layout {
  display: grid;
  grid-template-areas:
    "title title title"
    "feature-article feature-article cover-image"
    "secondary-article secondary-article cover-image"
    "small-article1 small-article2 small-article3";
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto 1fr 1fr 1fr;
  gap: 1.8rem 1.2rem;
  margin: 1.4rem;
}

.title {
  grid-area: title;
  background-color: #1b1b32;
  color: white;
  text-align: center;
  padding: 2rem 1rem;
  font-size: 1.5rem;
}

.feature-article,
.secondary-article {
  background-color: #f9f9f9;
}

.feature-article {
  grid-area: feature-article;
}

.cover-image {
  grid-area: cover-image;
}

.secondary-article {
  grid-area: secondary-article;
}

.small-article1,
.small-article2,
small-article3 {
  background-color: #e9e9e9;
}

.small-article1 {
  grid-area: small-article1;
}

.small-article2 {
  grid-area: small-article2;
}

.small-article3 {
  grid-area: small-article3;
}

.cover-image img {
  max-width: 100%;
}
