:root {
  --h2-font-size-2000: 1.5rem;
  --h2-font-size-1200: 1.3rem;
  --h2-font-size-1024: 1.2rem;
  --h2-font-size-720: 1.1rem;
  --h2-font-size-600: 1rem;
  --h2-font-size-550: 1.1rem;
  --h2-font-size-420: 0.75rem;
  --button-size: 1.1rem;
  --bg-color1: #eee;
  --bg-color2: #f1c40f;
  --bg-color3: #ff8c00;
  --bg-color4: #ddd;
  --text-color1: #4a4141;
  --text-color2: #625f5f;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: Verdana, sans-serif;
  background-color: var(--bg-color1);
  /* font-size: 0.9rem; */
}

main {
  position: relative;
  display: grid;
  grid-template-areas:
    "header header header"
    "form-started form-started form-started"
    "features features features"
    "how_it_works how_it_works how_it_works"
    "pricing pricing pricing"
    "footer footer footer";
  grid-template-columns: repeat(3, 1fr);
  margin: 0 auto;
  min-width: 720px;
  width: 100%;
}

#header {
  grid-area: header;
  grid-column: 1 / -1;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  background-color: var(--bg-color1);
}

#header-img {
  max-width: 20rem;
  margin-left: 1rem;
}

#form-started {
  grid-area: form-started;
  grid-column: 1 / -1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.8rem;
  margin-top: 5rem;
}

#form {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  align-items: center;
}

#form input {
  padding: 0.2rem 0.5rem;
}

input#email {
  width: 20rem;
}

input#submit {
  background-color: var(--bg-color2);
  border: none;
  width: 10rem;
  border-radius: 0.125rem;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1.1rem;
  cursor: pointer;
}

input#submit:hover {
  background-color: var(--bg-color3);
}

#features {
  grid-area: features;
  grid-column: 1 / -1;
  margin-top: 5rem;
  padding: 0 1rem 0;
}

.features-item {
  display: flex;
  gap: 2rem;
}

.icon i {
  display: flex;
  width: 6rem;
  height: 6rem;
  justify-content: center;
  align-items: center;
  color: var(--bg-color3);
}

.description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.25rem;
}

#how_it_works {
  grid-area: how_it_works;
  grid-column: 1 / -1;
  display: flex;
  justify-content: center;
  margin-top: 5rem;
}

#pricing {
  grid-area: pricing;
  grid-column: 1 / -1;
}

#footer {
  grid-area: footer;
  grid-column: 1 / -1;
  background-color: var(--bg-color4);
  display: grid;
  grid-template-columns: repeat(3, fr);

  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 0.5rem;
  padding: 1rem 0.5rem;
}

#footer p {
  font-size: 0.945rem;
  color: var(--text-color2);
}

#nav-bar ul,
#footer ul {
  display: flex;
  list-style-type: none;
  gap: 2.5rem;
  padding: 0 0.5rem 0 0.5rem;
}

a.nav-link,
.foot-link a {
  display: inline-block;
  text-decoration: none;
  color: var(--text-color1);
  font-size: 0.945rem;
  padding: 0.3rem;
}

a.nav-link:hover,
.foot-link a:hover {
  background-color: var(--bg-color3);
  color: white;
  transform: scale(1.2, 1.2);
}

#pricing {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 2rem;
  margin: 5rem 0 3rem;
  padding: 0 1rem 0;
}

.product {
  display: flex;
  flex-direction: column;
  width: 30rem;
  border: 1px solid var(--text-color1);
  border-radius: 0.125rem;
}

.product ul {
  list-style-type: none;
}

.product ul > li {
  line-height: 2.5;
  text-align: center;
}

.product h2 {
  text-align: center;
}

.level {
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 1.3rem 0 1.3rem;
  text-transform: uppercase;
  font-weight: 600;
  color: var(--text-color1);
  margin-bottom: 1.5rem;
  background-color: var(--bg-color4);
}

.btn-level {
  display: block;
  width: 8.25rem;
  margin: 0 auto;
  border: none;
  border-radius: 0.125rem;
  text-transform: uppercase;
  font-size: var(--button-size);
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  padding: 1rem 1.25rem 1rem;
  background-color: var(--bg-color2);
  cursor: pointer;
}

.btn-level:hover {
  background-color: var(--bg-color3);
}

@media only screen and (max-width: 2000px) {
  .icon i {
    width: 7rem;
    height: 7rem;
  }

  input#submit {
    font-size: 1.1rem;
  }
  a.nav-link,
  .foot-link a,
  #footer p {
    font-size: 1rem;
  }

  #features h2,
  #form-started h2,
  #pricing h2 {
    font-size: 1.35rem;
  }

  .product ul > li {
    line-height: 2.5;
    font-size: 1.125rem;
  }

  #features p {
    font-size: 1.1rem;
  }

  .level {
    font-size: 1.2rem;
  }

  .btn-level {
    font-size: 1.2rem;
  }
}

@media only screen and (max-width: 1200px) {
  input#submit {
    font-size: 1.1rem;
  }
  a.nav-link,
  .foot-link a,
  #footer p {
    font-size: 0.98rem;
  }

  #features h2,
  #form-started h2,
  #pricing h2 {
    font-size: 1.32rem;
  }

  .product ul > li {
    line-height: 2.5;
    font-size: 1rem;
  }

  #features p {
    font-size: 1.1rem;
  }

  .level {
    font-size: 1rem;
  }

  .btn-level {
    font-size: 1.1rem;
  }
}

@media only screen and (max-width: 1024px) {
  input#submit {
    font-size: 1.1rem;
  }
  a.nav-link,
  .foot-link a,
  #footer p {
    font-size: 0.95rem;
  }

  #features h2,
  #form-started h2,
  #pricing h2 {
    font-size: 1.3rem;
  }

  .product ul > li {
    line-height: 2.5;
    font-size: 0.95rem;
  }

  #features p {
    font-size: 0.95rem;
  }

  .level {
    font-size: 0.95rem;
  }

  .btn-level {
    font-size: 0.95rem;
  }
}

@media only screen and (max-width: 720px) {
  input#submit {
    font-size: 0.95rem;
  }
  a.nav-link,
  .foot-link a,
  #footer p {
    font-size: 0.89rem;
  }

  #features h2,
  #form-started h2,
  #pricing h2 {
    font-size: 1.175rem;
  }

  main {
    grid-template-columns: 1fr;
  }

  .product ul > li {
    line-height: 1.95;
    font-size: 0.8rem;
  }

  #features p {
    font-size: 0.95rem;
  }

  .level {
    font-size: 0.85rem;
  }

  .btn-level {
    font-size: 0.88rem;
  }
}

@media only screen and (max-width: 600px) {
  input#submit {
    font-size: 0.9rem;
  }
  a.nav-link,
  .foot-link a,
  #footer p {
    font-size: 0.85rem;
  }

  #features h2,
  #form-started h2,
  #pricing h2 {
    font-size: 1.1rem;
  }

  main {
    grid-template-columns: 1fr;
  }

  .product ul > li {
    line-height: 1.6;
    font-size: 0.8rem;
  }

  #features p {
    font-size: 0.92rem;
  }

  .level {
    font-size: 0.8rem;
  }

  .btn-level {
    font-size: 0.8rem;
  }
}

@media only screen and (max-width: 550px) {
  input#submit {
    font-size: 0.9rem;
  }
  a.nav-link,
  .foot-link a,
  #footer p {
    font-size: 0.85rem;
  }

  #features h2,
  #form-started h2,
  #pricing h2 {
    font-size: 1.1rem;
  }

  main {
    grid-template-columns: 1fr;
  }

  .product ul > li {
    line-height: 1.6;
    font-size: 0.8rem;
  }

  #features p {
    font-size: 0.92rem;
  }

  .level {
    font-size: 0.8rem;
  }

  .btn-level {
    font-size: 0.8rem;
  }
}

@media only screen and (max-width: 420px) {
  input#submit {
    font-size: 0.9rem;
  }
  a.nav-link,
  .foot-link a,
  #footer p {
    font-size: 0.85rem;
  }

  #features h2,
  #form-started h2,
  #pricing h2 {
    font-size: 1.1rem;
  }

  main {
    grid-template-columns: 1fr;
  }

  .product ul > li {
    line-height: 1.6;
    font-size: 0.8rem;
  }

  #features p {
    font-size: 0.92rem;
  }

  .level {
    font-size: 0.8rem;
  }

  .btn-level {
    font-size: 0.8rem;
  }
}
