:root {
  --bg-color1: #303841;
  --bg-color2: #343639;
  --bg-color3: #1f1f22;
  --bg-color4: #45567d;
  --bg-color5: #be3144;
  --text-color: #f0f0f0;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 16px;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#main {
  /* position: relative; */
  display: grid;
  grid-template-areas:
    "navbar navbar",
    "welcome-section welcome-section" "project-section project-section"
      "profile profile" "footer footer";
  grid-template-columns: repeat(2, 1fr);
  max-width: 960px;
  min-width: 640px;
  width: 100%;
  margin: 0 auto;
}

/* Grid sections */

/* NAVBAR */
#navbar {
  position: fixed;
  top: 0;
  left: 0;
  grid-area: "navbar";
  grid-column: 1 / -1;

  width: 100%;
  background-color: var(--bg-color5);
}

#navbar ul {
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
}

#navbar li {
  line-height: 3;
}

#navbar a {
  display: inline-block;
  text-decoration: none;
  font-size: 1.2rem;
  color: var(--text-color);
  padding: 0.5em 1em;
}

#navbar a:hover,
#navbar a:focus {
  background-color: var(--bg-color4);
}

/* Welcome Section */

#welcome-section {
  grid-area: "welcome-section";
  grid-column: 1 / -1;
}

#project-section {
  grid-area: "project-section";
  grid-column: 1 / 2;
}

#profile {
  grid-area: "profile";
  grid-column: 1 / -1;
}

#footer {
  grid-area: "footer";
  grid-column: 1 / -1;
}

/* Devices with max width of 640px and smaller - Small devices */
@media only screen and (max-width: 640px) {
  /*
  Media query insruction */
  #main {
    grid-template-columns: 1fr;
  }

  #navbar,
  #welcome-section,
  #project-section,
  #profile,
  #footer {
    grid-column: 1;
  }

  #navbar ul {
    flex-direction: column;
    align-items: center;
  }
}

@media only screen and (orientation: portrait) {
  #main {
    grid-template-columns: 1fr;
  }

  #navbar,
  #welcome-section,
  #project-section,
  #profile,
  #footer {
    grid-column: 1;
  }

  #navbar ul {
    flex-direction: column;
    align-items: center;
  }

  #navbar a {
    padding: 0 1em;
  }

  #navbar li {
    line-height: 2.5;
  }
}

/* Devices with the width between 641px and 1024px - Medium devices. */
@media only screen and (min-width: 641px) and (max-width: 1024px) {
  * {
    font-size: 105%;
  }

  #navbar a {
    font-size: 1.25rem;
  }
}

/* Devices with the width between 1025px and grather - Big devices. */
@media only screen and (min-width: 1025px) {
  #navbar a {
    font-size: 1.35rem;
  }
}
